body {
    font-family: sans-serif;
    padding: 15px;
}
input {
    width: 100%;
}
h3 {
    margin-top: 0;
    padding: 10px;
    padding-left: 0px;
    margin-bottom: 0;
}
.editor {
    min-height: 300px;
}
.half {
    width: 50%;
    float: left;
}
#UI > div {
    margin-bottom: 15px;
    border: 2px solid black;
    width: calc(100% - 30px);
    display: inline-block;
    border-radius: 15px;
    padding: 15px;
}
#UI > div:nth-child(odd) {
    background-color: lightgray;
}
.top input {
    margin-bottom: 20px;
}
.bottom {
    clear: both;
}
.left-half {
    width: calc(50% - 15px);
    float: left;
}
.right-half {
    width: calc(50% - 15px);
    float: right;
}
#UI > div.new_row {
    background-color: white;
    color: #777;
    border: 5px dashed #777;
    text-align: Center;
    cursor: pointer;
    font-size: 1.5em;
    transition:0.2s ease-in-out;
}
#UI > div.new_row p {
    margin: 0;
}
.plus {
    text-align: center;
    color: #777;
    font-size: 5em;
}

#UI > div.new_row:hover {
    background-color: white;
    color: black;
    border: 5px dashed black;
    text-align: Center;
    cursor: pointer;
    font-size: 1.5em;
    transition:0.2s ease-in-out;
}
#UI > div.new_row:hover .plus {
    background-color: white;
    color: black;
    transition:0.2s ease-in-out;
}
.left-side{
      width: calc(75% - 15px);
    float: left;
}
.right-side{
      width: calc(25% - 15px);
    float: right;
}
.answer{
    width:100%;
}
.row{position:relative;}
.remove:hover{ transition:0.5s ease-in-out; background-color:darkred;color:white}

.remove{position:absolute; box-sizing:border-box; cursor:pointer;height:32px; width:32px;font-weight:bold; right:5px; top:5px; text-align:Center; font-family:monospace;border-radius:9999em; font-size:20px; line-height:30px; background:white; transition:0.5s ease-in-out;}
